.footer{
    height: 22vh;
    width: 100vw;
    background-color: $black;
    font-size: 1.2rem;
    font-family: $ubuntu;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;

    &__brand{
        color: $white;
    }

    &__link{
        display: block;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    &__item{    
        color: white;
        text-decoration: none;
        display: inline;
        margin: 0.5rem;
        
    }


    
     &__email{
         padding: 0.5rem;
     }

     &__email:focus{
        background-color: $orange;
    }

    

    &__submit{
        
        background-color: $orange;
        padding: 0.5rem;
    }

    &__submit:hover{
        background-color: $white;
    }
}

  /*a partir de pantalla tablet se divide a la mitad*/
  @media screen and (min-width: 768px) {
    .footer{
        height: 18vh;
        
} 