.navbar{
    height: 80px;
    width: 100vw;
    padding-right: 2rem;
    background-color: $black;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
    &__logo {
    height: 60px;
}

/*esta es la lista de link de navegación*/
&__list{
    list-style-type: none;
}

&__item {
    display: inline-block;
    padding: 20px 10px;
}

&__item {
    a{ 
    color: white;
    text-decoration: none;}
}

&___item a:hover {
    color: $charcoal;
}

/*este es el ícono de la hamburgesa*/

&__menu{
    color: $white;
    margin-bottom: 4px ;
    display: block;
}

&__menu:hover{
    color:$orange;
}

.active{
    display: block;
}
}

@media (min-width: 576px){
    
    .navbar{
        flex-direction: column;
        position: relative;
        height: 18rem;
        padding: 2rem;
    }

    .nav__logo{
        position: absolute;
        left: 0;
    }

    .navbar__icon{
        width: 100%;
        padding: 20px;
        display: block;
        
    }


    .navbar__menu{
        display: block;
        padding: 30px;
        text-align: right;
        
    }

    .navbar__list{
        width: 100%;
        padding-top: 10px;
        display: none;
        text-align: right;
    }

    .navbar__item{
        width: 100%;
        display: inline-block;
        border-top: 1px solid white;
        
    }

}


@media (min-width: 768px){
    
    .navbar{
        flex-direction: row;
        position: relative;
        height: 80px;
        padding: 2rem;


        &__menu{
       display: none;
          }

          &__list{
        display: block;
          }

     
    }

}
