@mixin main-section {
    border-width: 1px;
    border-style: solid;
    border-color:$sable;
    background-color: $white;
    padding: 0.8rem;
    margin: 0;
    color: $sable;
}

@mixin card-container {
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: $white;
    padding: 1rem;
    margin: 0;
    color: $sable;
    font-family: $ubuntu;
}