@charset "UTF-8";
/*color scheme*/
/*font family*/
/*font weight*/
/*font size*/
/* grid of main section*/
.main-container {
  padding: 2rem;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-template-areas: "courses courses" "about about";
}

@media screen and (min-width: 576px) {
  .container {
    grid-template-areas: "courses courses" "about about";
  }
}

/*a partir de pantalla tablet se divide a la mitad*/
@media screen and (min-width: 768px) {
  .container {
    grid-template-areas: "courses about"  "courses about";
  }
}

/*estilos de las secciones*/
.courses {
  grid-area: courses;
  border-width: 1px;
  border-style: solid;
  border-color: #060606;
  background-color: #fff;
  padding: 0.8rem;
  margin: 0;
  color: #060606;
}

.about {
  grid-area: about;
  border-width: 1px;
  border-style: solid;
  border-color: #060606;
  background-color: #fff;
  padding: 0.8rem;
  margin: 0;
  color: #060606;
}

/* reset_html*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* reset_scroll horizontal*/
body {
  overflow-x: hidden;
}

/* reset_imágenes no sobrepasen el ancho de su contenedor*/
img {
  max-width: 100%;
}

/*font weight*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

/*ancho fijo en tamaños grandes
@media only screen and (min-width:1200px) {
    body{
        width: 1200px;
        margin: 0 auto;
    }
}*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  0% {
    transform: translatex(-30px);
  }
  100% {
    transform: translatex(30px);
  }
}

.navbar {
  height: 80px;
  width: 100vw;
  padding-right: 2rem;
  background-color: #000000;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  /*esta es la lista de link de navegación*/
  /*este es el ícono de la hamburgesa*/
}

.navbar__logo {
  height: 60px;
}

.navbar__list {
  list-style-type: none;
}

.navbar__item {
  display: inline-block;
  padding: 20px 10px;
}

.navbar__item a {
  color: white;
  text-decoration: none;
}

.navbar___item a:hover {
  color: #2e1503;
}

.navbar__navbar_menu {
  background-color: #fff;
  margin-bottom: 4px;
  display: block;
}

.navbar .active {
  display: block;
}

@media (min-width: 100px) {
  .navbar {
    flex-direction: column;
    position: relative;
    height: 18rem;
    padding: 2rem;
  }
  .nav__logo {
    position: absolute;
    left: 0;
  }
  .navbar__icon {
    width: 100%;
    padding: 20px;
    display: block;
  }
  .navbar__menu {
    display: block;
    flex-direction: column;
    padding: 30px;
    text-align: right;
  }
  .navbar__list {
    width: 100%;
    padding-top: 10px;
    display: none;
    text-align: right;
  }
  .navbar__item {
    width: 100%;
    display: inline-block;
    border-top: 1px solid white;
  }
}

@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
    position: relative;
    height: 80px;
    padding: 2rem;
  }
  .navbar__menu {
    display: none;
    top: 15px;
    text-align: center;
    display: none;
  }
  .navbar__list {
    list-style-type: none;
    width: 100%;
    text-align: right;
    padding-top: 10px;
    display: block;
  }
  .navbar__item {
    width: 100%;
    display: inline;
    border-top: none;
  }
}

.header {
  text-align: center;
}

.header .header__img {
  width: 35rem;
}

.card {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  background-color: #fff;
  padding: 1rem;
  margin: 0;
  color: #060606;
  font-family: "Ubuntu", sans-serif;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.8rem;
}

.card__img {
  width: 100vw;
}

.card__title {
  margin: 1rem 0 1rem 0;
}

.card__button i.fas, .card__button i.far {
  margin: 0.5rem;
  background-color: #fff;
}

.card1 {
  margin-bottom: 0.8rem;
}

.about {
  border-width: 1px;
  border-style: solid;
  border-color: #060606;
  background-color: #fff;
  padding: 0.8rem;
  margin: 0;
  color: #060606;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.8rem;
  padding: 1rem;
  padding-bottom: 3rem;
  text-align: center;
}

.about__img {
  width: 8rem;
  border-radius: 50%;
  border: 1px solid #060606;
}

.about__title--top {
  margin: 0.5rem;
}

.about__button i.fas, .about__button i.far {
  font-size: 2rem;
  background-color: #fff;
}

.about__text {
  text-align: left;
}

.about__title--bottom {
  margin: 1rem 0 1rem 0;
  color: #fff;
  font-weight: 400;
  background-color: #060606;
}

.about__list {
  list-style: circle;
  text-align: left;
  padding: 1rem;
}

.about__link a {
  text-decoration: none;
}

.about__animation {
  width: 14rem;
}

svg path .about__animation.gear {
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 80% 80%;
}

svg path .about__animation.code {
  animation-name: wave;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.footer {
  height: 22vh;
  width: 100vw;
  background-color: #000000;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.footer__brand {
  color: #fff;
}

.footer__link {
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.footer__item {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem;
}

.footer__email {
  padding: 0.5rem;
}

.footer__email:focus {
  background-color: #ffa500;
}

.footer__submit {
  background-color: #ffa500;
  padding: 0.5rem;
}

.footer__submit:hover {
  background-color: #fff;
}

/*a partir de pantalla tablet se divide a la mitad*/
@media screen and (min-width: 768px) {
  .footer {
    height: 18vh;
    width: 100vw;
    align-items: left;
  }
}
